*{
	font-family: 'Barlow', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	/*background-image: url(img/bg.png);
	background-repeat: repeat;*/
	background-color: #fff3eb;

}
section{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 40px 15%;
}
.login{
	width: 70%;
	background-color: #fff;
	padding: 40px 4%;
	box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.20);
	border-radius: 5px;
}
.btn{
	background-color: #FF0F0F;
	color: #fff;
	transition: .5s;
}
.btn:hover{
	background-color: #8d0801;
}
input{
	outline: none;
	width: 500px;
}

i{
	color: #FF0F0F;
}

i#eye-icon, #confirm-eye-icon{
	cursor: pointer;
}

.form-header{
	box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.10);
	background-color: #ff0f0f;
	color: #fff;
	width: 70%;
	text-align: center;
	border-radius: 5px;
	padding: 50px;
	margin-bottom: 2%;
}

@media screen and (max-width: 600px){

	.login{
		width: 100%;
	}
	section{
		padding: 80px 4%;
	}
}